body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(207, 163, 191);
    color: rgb(154, 74, 20);
}
h1{
    color: rgb(131, 49, 152);
}
 a{
    color: aliceblue;
    text-decoration:underline;
 }
 a:hover {
    color: rgb(28, 31, 129);

 }
 ul> li {
    font-weight: bolder;
 }
 h1+p {
    background-color: rgb(15, 94, 108);
    padding: 50px;
    border-radius: 30px;
 }

 ul li:hover{
    color: rgb(101, 91, 174);
 }
 ul li:nth-child(3) {
    background-color: rgb(138, 127, 209);
 }
 p:not(:first-of-type) {
    text-decoration: overline;
 }
 ul li:before {
    content: "⭐✨";
 }
 a::after {
    content: "🚀 ";
 }
 p::first-letter {
    font-size: medium;
    color: rgb(15, 15, 233);
 }